* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #000;
}

td {
    width: 20px;
    height: 20px;
}

.blank {
    background-color: unset;
}

.snake {
    background-color: white;
}

.wall {
    background-color: green;
}

.fruit {
    background-color: red;
}

h1 {
    color: white;
}